# Helper to set up PATH, enter virtual env etc so that all commands work in shell

if [ -f .pyenv/bin/activate ]; then
    source .pyenv/bin/activate
fi
PATH=$PWD/scripts/js/node_modules/.bin:$PATH

if [ -f .env ]; then
    source .env
fi
